.footer {
  background: #303036;
  color: #d3d3d3;
  height: 320px;
  position: relative;
}

.footer .footer-content {
  height: 300px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 20px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-about {
  max-width: 300px;
  height: 300px;
  display: inline-block;
}
.footer-section {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-about-title {
  font-weight: bold;
}

.footer-about-paragraph {
  font-size: 14px;
}

.footer-categories {
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.footer-tags {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.footer-tags-title {
  font-weight: bold;
}

.footer-contact-us {
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.footer-contact-us-title {
  font-weight: bold;
}

.footer-categories-link {
  text-decoration: none;
  color: #f3f3f3;
}

.footer-slash {
  display: inline-block;
}
