.marysTopDinnerContainer {
  background-image: url("../../../public/marysFavoriteDinnerBackground.jpeg");
  height: 130vh;
}
.marysTopDinnerTitle {
  margin-top: 0px;
}
.whiteBoxContainerForTopDinner {
  width: 700px;
  height: 700px;
  background-color: #fefefe;
  position: relative;
  margin: 80px auto;
  margin-bottom: 80px;
}
