.mealByIngredientContainer {
  background-image: url("../../../public/mealPlanByIngredientsBackground.jpeg");
  height: 130vh;
  padding-top: 80px;
}
.mealByIngredientWhiteContainer {
  width: 700px;
  height: 700px;
  background-color: #fefefe;
  position: relative;
  margin: 0px auto;
  margin-bottom: 80px;
}

.smallIngredientsPicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.individualIngredientContainer {
  display: inline-block;
  margin: 15px;
  margin-top: 20px;
}
.ingredientDataResultsContainer {
  display: inline-block;
  width: 70vw;
}
.dottedAllIngredientsContainer {
  display: block;
  margin-top: 10px;
}
.dottedIngredientContainer {
  border: dashed 1px;
  height: 40px;
  width: 140px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.chosenIngredient {
  height: 30px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}
