.mealByIngredientContainer {
  background-image: url("../../../public/mealPlanByIngredientsBackground.jpeg");
  height: 220vh;
  padding-top: 80px;
}
.mealByIngredientWhiteContainer {
  width: 700px;
  height: 320px;
  background-color: #fefefe;
  position: relative;
  margin: 0px auto;
  margin-bottom: 80px;
}

.smallIngredientsPicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.individualIngredientContainer {
  display: inline-block;
  margin: 15px;
  margin-top: 20px;
}
.mealIngredientControls {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mealIngredientInput {
  background: #fbfbfb;
  border: 1px solid #e8e7e5;
  width: 450px;
  height: 40px;
  padding: 0 10px;
  font-size: 15px;
  vertical-align: middle;
}
.addIngredientButton {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(68, 131, 213, 0.05);
  border: 1px solid #4485da;
  color: #4485da;
  font-size: 14px;
  line-height: 38px;
  vertical-align: middle;
}

.dottedAllIngredientsContainer {
  display: block;
  margin-top: 10px;
}
.dottedIngredientContainer {
  border: dashed 1px;
  height: 40px;
  width: 180px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: top;
}
.getIngredientDataButton {
  margin-top: 20px;
}

.chosenIngredient {
  height: 30px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}
.mealByIngredientsResultsWholeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredientDataResultsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 10px;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  background-color: #fefefe;
}
textarea:focus,
input:focus {
  outline: none;
}

.shadowPopularIngredient {
  filter: brightness(50%);
}

.IngredientRexipeButton{ padding: 0.5rem 2rem;
  background-color: pink;
  color: white;
  border: none;
  font-family: Garamond, serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px grey;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 5px;

}