.mealByIngredientContainer {
  background-image: url("../../../public/mealPlanByIngredientsBackground.jpeg");
  height: 220vh;
  padding-top: 80px;
}
.mealByIngredientWhiteContainer {
  width: 700px;
  height: 320px;
  background-color: #fefefe;
  position: relative;
  margin: 0px auto;
  margin-bottom: 80px;
}

.smallIngredientsPicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.individualIngredientContainer {
  display: inline-block;
  margin: 15px;
  margin-top: 20px;
}
.mealIngredientControls {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.addIngredientButton {
  display: inline-block;
  margin-left: 10px;
}

.dottedAllIngredientsContainer {
  display: block;
  margin-top: 10px;
}
.dottedIngredientContainer {
  border: dashed 1px;
  height: 40px;
  width: 140px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.getIngredientDataButton {
  margin-top: 20px;
}

.chosenIngredient {
  height: 30px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
}
.mealByIngredientsResultsWholeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredientDataResultsContainer {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  margin: 10px;
  max-width: 18rem;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  background-color: #fefefe;
}
